@import "tailwindcss";

.embla-thumbs {
  --thumbs-slide-spacing: 0.8rem;
  margin-top: 16px;
}

.embla-thumbs__slide {
  flex: 0 0 22%;
  min-width: 0;
  padding-left: var(--thumbs-slide-spacing);
}
@media (min-width: 576px) {
  .embla-thumbs__slide {
    flex: 0 0 15%;
  }
}

.embla-thumbs__slide img {
  cursor: pointer;
  opacity: 0.5;
}
.embla-thumbs__slide--selected img {
  color: var(--text-body);
  opacity: 1;
}
