.detailTopInfo {
  display: grid;
  grid-template-columns: 1fr 200px;
  padding-bottom: 30px;
  border-bottom: #333 2px solid;
}

.detailTopInfo .itemContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: #fff;
  line-height: 1.6;
  letter-spacing: -1px;
}

.skill {
  display: flex;
}

.skill div {
  margin-right: 8px;
  padding: 2px 16px 3px;
  display: inline-block;
  font-size: 12px;
  color: #bbb;
  background-color: #252525;
  border-radius: 20px;
}

.detailTopInfo .itemImage {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #999 1px solid;
}

@media (max-width: 900px) {
  .detailTopInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .skill {
    display: inline-block;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
  }

  .skill div {
    margin-top: 8px;
  }

  .detailTopInfo .itemImage {
    margin-top: 40px;
    border: #999 0px solid;
  }
}
