.profileSection {
  padding-top: 50px;
  padding-bottom: 80px;
  width: 30vw;
  color: #fff;
  line-height: 1.6;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.25px;
  border-right: #333 1px solid;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.content {
  color: #bbb;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutMe img {
  padding: 16px 0;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.skill .skillIcon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 15vw;
  gap: 16px;
  padding-top: 16px;
}

.skill .skillIcon img:nth-child(3),
.skill .skillIcon img:nth-child(10) {
  border-radius: 50%;
}

.introduction {
  padding-top: 40px;
  letter-spacing: -1px;
}

.introduction > div {
  padding-bottom: 28px;
}

.introduction .infoTitle {
  padding-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.5px;
}
